body{
  background-color: #f9f9f9;
}

.app-container{
  display: -webkit-flex;
  display: flex;
  margin:20px;
}

.box {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   display: -webkit-flex;
   -webkit-box-align: center;
   -webkit-flex-align: center;
   -webkit-align-items: center;
   -webkit-flex-direction: column;
   -webkit-justify-content: center;
}

.box-item {
  font-size: 16px;
  font-family: arial;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.box-item--top {
  align-self: flex-start;
}

.box-item--bottom {
  align-self: flex-end;
  min-height: 50px;
}

.comment-app-container{
  border: 1px solid #c7c7c7;
  width:350px;
  margin: auto;
}

.comment-feed-form-wrap{
  background-color: #efefef;
}

.comment-feed-form-wrap .box-item  {
  width: 100%;
}

.comment-feed-form{
  margin: 20px;
}

.comment-feed-form form{
  width: 100%;
}

.comment-feed-form input,
.comment-feed-form textarea{
  border: 1px solid #c7c7c7;
  width: 100%;
  resize: none;
  margin-bottom: 10px;
  padding: 10px;
  font-family: arial;
  font-size: 13px;
  box-sizing: border-box;
  height: 100%;
}

.comment-feed-form textarea{
  height: 62px;
}

.comment-feed-form .comment-feed-form-button{
  width: 70px;
  height: 30px;
  padding: 0px;
  background-color:#46a3e6;
  color:white;
  font-weight: bold;
  text-transform: uppercase;
  border:0;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0px;
}

.comment-feed-form .box-item--bottom{
  text-align: right;
  min-height:inherit;
}

.comment-feed-wrap .box{
  align-items: flex-start;
  justify-content: flex-start;
  animation:pop-in 0.2s;

  display: -webkit-flex;
  -webkit-align-items: flex-start;
  -webkit-justify-content: flex-start;
  -webkit-animation:pop-in 0.2s;
  -moz-animation:pop-in 0.2s;
  -ms-animation:pop-in 0.2s;
}

.comment-feed-wrap .box-item  {
  width:100%;
  text-align: left;
  margin-bottom: 7px;
}

.comment-feed-row-content{
  flex-direction: row;
  -webkit-flex-direction: row;
}

.box-item.comment-feed-row-avatar-wrap{
  width:60px;
}

.box-item.comment-feed-row-avatar-wrap IMG{
  width:44px;
  height:44px;
  border-radius: 10px;
}

.comment-feed-filter-wrap{
  position:relative;
  margin:20px;
}

.comment-feed-filter{
  font-size: 14px;
  font-family: arial;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding:5px 0 5px 35px;
  font-size: 14px;
}

.comment-feed-row{
  margin: 0 20px;
}

.comment-feed-row-email{
  color:#474546;
  font-weight: bold;
  font-size: 13px;
}

.comment-feed-row-comment{
  color:#808080;
  font-size: 14px;
}

.comment-feed-empty{
  color: grey;
  font-size: 13px;
  margin: auto;
  text-align: center;
}

.search-icon{
  background-image: url("../assets/search-icon.jpg");
  background-position: 3px 3px;
  height: 26px;
  left: 5px;
  position: absolute;
  top: 3px;
  width: 27px;
}

@keyframes pop-in {
  0% { opacity: 0;transform: scale(0.1); }
  100% { opacity: 1;transform: scale(1); }
}
@-webkit-keyframes pop-in {
  0% { opacity: 0;-webkit-transform: scale(0.1); }
  100% { opacity: 1;-webkit-transform: scale(1); }
}
@-moz-keyframes pop-in {
  0% { opacity: 0;-moz-transform: scale(0.1); }
  100% { opacity: 1;-moz-transform: scale(1); }
}
